<launch>
  <!-- Arguments -->
  <arg name="robot_namespace" default="/"/>
  <arg name="move_forward_only" default="True"/>
  <arg name="slam_methods" default="cartographer" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  
  <!-- For Real -->
  <arg name="configuration_basename" default="lds_2d_real.lua"/>
  <!-- For Gazebo -->
  <!-- <arg name="configuration_basename" default="lds_2d_gazebo.lua"/> -->
  
  <arg name="open_rviz" default="false"/>

  <arg name="multi_robot_name" default=""/>

  <!-- Real Robot Description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find nbvplannerw)/urdf/robot.urdf.xacro' robot_namespace:=$(arg robot_namespace)" />
  
  <!-- Turtlebot 3 Description -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find nbvplannerw)/urdf/turtlebot3_burger.urdf.xacro'" /> -->

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find nbvplannerw)/launch/$(arg slam_methods).launch">
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

  <!-- Navigation -->
  <include file="$(find nbvplannerw)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find nbvplannerw)/rviz/$(arg slam_methods).rviz"/>
  </group>
</launch>
