<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find fdplannerw)/resource/configuration.conf"/>
  <arg name="robot_namespace" default="/"/>
  <arg name="move_forward_only" default="False"/>
  <arg name="param_file" default="$(find fdplannerw)/resource/exploration.yaml" />
  <arg name="maxTime" default="300"/>

  <!-- Autonomous Explorer Node -->
  <node pkg="fdplannerw" type="fdplannerwNode" name="fdplannerw" output="screen">
    <rosparam command="load" file="$(arg param_file)" />
  </node>

  <node pkg="fdplannerw" type="fdplannerwMain" name="fdplannerwMain" output="screen">
    <param name="maxTime" value="$(arg maxTime)" />
  </node>
  <node pkg="fdplannerw" type="fdplannerwController" name="fdplannerwController" output="screen" />

  <node pkg="tf" type="static_transform_publisher" name="tf_weight" args="0 0 0 0 0 0 map weight 10" />

</launch>
