<launch>

    <!-- TurtleBot3 Gazebo -->
    <include file="$(find fdplannerw)/launch/maze/maze_stage_2.launch" />

    <!-- SLAM and Navigation -->
    <include file="$(find fdplannerw)/launch/slam.launch" />

    <!-- Autonomous Planner -->
    <include file="$(find fdplannerw)/launch/autonomous_explorer.launch">
        <arg name="maxTime" value="900"/>
    </include>

    <node pkg="rosbag" type="record" name="rosbag_record_diag" args="record -o $(find fdplannerw)/Experiments/Maze/FDP/TestCase_2/FDP
    /map /clock /computedPath /odom /pose /scan /tf /countArea /computationTime"/>

</launch>
