<launch>
    <!-- Robot Demo Description -->
    <arg name="robot_namespace" default="/"/>
    <arg name="multi_robot_name" default=""/>
    
    <include file="$(find fdplannerw)/launch/controller.launch" />

    <!-- SLAM -->
    <include file="$(find fdplannerw)/launch/slam.launch" />

    <!-- Autonomous Planner -->
    <include file="$(find fdplannerw)/launch/autonomous_explorer.launch">
        <arg name="maxTime" value="600"/>
    </include>

    <!-- Rosbag Record -->
    <node pkg="rosbag" type="record" name="rosbag_record_diag" args="record -o $(find fdplannerw)/Experiments/Odometry
    /cmd_vel /leftEncoder /rightEncoder /rpmLeft /rpmRight /odom /camera/imu /imu/data /imu/filtered /scan /tf /map /computedPath /pose /countArea /computationTime"/>

</launch>
